  <div class="all-frame" data-navbar-target="pageup">
    <div class="inside-box">
      <div class="border-light-pink">
        <h3 class="underline-title"> MANICURES </h3>
      </div>
      <div class="border-light-pink">
        <h4 class="underline-title sub-title"> NAIL POLISH </h4>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <h5> BASIC </h5>
          <div class="inline">
            <p class="text"> SHAPE AND COLOR </p>
            <p> € 10 </p>
          </div>
          <div class="inline add-space">
            <p class="text"> SIGNATURE MANICURE </p>
            <p> € 15 </p>
          </div>
          <h5> LONG-LASTING </h5>
          <div class="inline">
            <p class="text"> SHAPE AND COLOR </p>
            <p> € 13 </p>
          </div>
          <div class="inline">
            <p class="text"> SIGNATURE MANICURE </p>
            <p> € 18 </p>
          </div>
        </div>
        <div class="grid-item">
          <h5> SEMI-PERMANENT </h5>
          <div class="inline">
            <p class="text"> SHAPE AND COLOR </p>
            <p> € 17 </p>
          </div>
          <div class="inline">
            <p class="text"> SIGNATURE MANICURE </p>
            <p> € 24 </p>
          </div>
          <div class="inline">
            <p class="text"> STRENGTHENED MANICURE </p>
            <p> € 27 </p>
          </div>
          <div>
            <p class="text inline"> reinforced base on the natural nail for damaged or worn nails with a longer-lasting result </p>
          </div>
        </div>
        <div class="grid-item">
          <h5> GEL - ACRYGEL </h5>
          <div class="inline">
            <p class="text"> ENHANCED YOUR NATURAL </p>
            <p> € 39 </p>
          </div>
          <div class="inline">
            <p class="text"> ELONGATION </p>
            <p> € 55 </p>
          </div>
          <div class="inline">
            <p class="text"> MAINTENANCE </p>
            <p> € 39 </p>
          </div>
        </div>
      </div>
      <div class="border-light-pink upper-line-pink">
        <h3 class="underline-title"> PEDICURES </h3>
      </div>
      <div class="border-light-pink">
        <h4 class="underline-title sub-title"> NAIL POLISH </h4>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <h5> BASIC </h5>
          <div class="inline">
            <p class="text"> SHAPE AND COLOR </p>
            <p> € 10 </p>
          </div>
          <div class="inline">
            <p class="text"> SIGNATURE PEDICURE </p>
            <p> € 20 </p>
          </div>
        </div>
        <div class="grid-item">
          <h5> SEMI-PERMANENT </h5>
          <div class="inline">
            <p class="text"> SHAPE AND COLOR </p>
            <p> € 17 </p>
          </div>
          <div class="inline">
            <p class="text"> SIGNATURE PEDICURE </p>
            <p> € 28 </p>
          </div>
          <div class="inline">
            <p class="text"> STRENGTHENED PEDICURE </p>
            <p> € 31 </p>
          </div>
        </div>
        <div class="grid-item">
          <div class="inline">
            <h5 class="text"> THERAPEUTIC </h5>
            <p> € 35 </p>
          </div>
          <div>
            <p class="text inline"> For edges that face problems of callus hardening and fungal infections. For immediate relief, treatment of aesthetic and dermatological problems </p>
          </div>
        </div>
      </div>
      <div class="border-light-pink upper-line-pink">
        <h3 class="underline-title"> FOR MEN </h3>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <div class="inline">
            <p class="text"> MANICURE </p>
            <p> € 15 </p>
          </div>
        </div>
        <div class="grid-item">
          <div class="inline">
            <p class="text"> PEDICURE </p>
            <p> € 20 </p>
          </div>
        </div>
        <div class="grid-item">
          <div class="inline">
            <p class="text"> THERAPEUTIC </p>
            <p> € 35 </p>
          </div>
        </div>
      </div>
      <div class="border-light-pink upper-line-pink">
        <h3 class="underline-title"> NAILS ART </h3>
      </div>
      <div class="border-light-pink">
        <h3 class="underline-title"> EXTRA </h3>
      </div>
      <div class="inline">
        <h5 class="text"> REMOVAL GEL - ACRYGEL </h5>
        <p> € 10 </p>
      </div>
      <div class="inline">
        <h5 class="text"> REMOVAL SEMI -PERMANENT </h5>
        <p> € 7 </p>
      </div>
      <div class="inline">
        <h5 class="text"> ONE NAIL RECONSTRUCTION </h5>
        <p> € 5 </p>
      </div>
      <div class="inline">
        <h5 class="text"> EYEBROWS </h5>
        <p> € 12 </p>
      </div>
      <div>
        <p class="text"> wax or thread </p>
      </div>
      <div class="inline">
        <h5 class="text"> UPPER LIP </h5>
        <p> € 12 </p>
      </div>
      <div>
        <p class="text"> thread </p>
      </div>
    </div>
  </div>
