.all-jewelries {
  display: flex;
  justify-content: center;
  top: 121px;
  position: relative;
}

.center-sentence {
  text-align: center;
  color: #826c34;
  width: 100%;
}

.style {
  font-size: 17px;
}

.grid-container-menu {
  display: grid;
  justify-items: center;
  place-self: center;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-auto-rows: 456px;
  gap: 10px;
  padding-top: 3rem;
  width: 100%;
  border-top: 1px solid #a78a40;
  cursor: pointer;
  background-color: #f4f4f4;
  position: relative;
  transition: top 2s;
  top: -216px;
}

.display-filtres {
  transition: top 2s;
 top: 0px;
}


.block-one {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin-bottom: 13rem;
}

.filter-wrapper {
  display: flex;
  justify-content: space-around;
  color: #725e2b;
  cursor: pointer;
}

.border-center {
 align-items: center;
 border-top: 1px solid #a78a40;
}

.item {
  justify-self: stretch;
}

.card-artist, .span_three {
  background-color: white;
  color: #725e2b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 99px;
}
.order_one, .order_two{
  order: 0;
}

.order_three {
  order: 3;
}

.order_four {
  order: 4;
}

.order_five {
  order: 5;
}

.order_six {
  order: 6;
}

.order_seven {
  order: 7;
}

.order_eight {
  order: 8;
}

.order_nine {
  order: 9;
}

.artist-name {
  padding: 20px;
  font-size: xx-large;
}

.span_one {
  grid-column: span 1;
}

.span_one img {
  width: 100%;
  height: 411px;
  vertical-align: unset;
}

.span_two img {
  width: 100%;
  height: 411px;
  vertical-align: unset;
}

.span_three {
  grid-column: span 3;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: white;
  color: #725e2b;
  font-size: 18px;
}

.span_two {
  grid-column: span 2;
}

@media only screen and (min-width:279px) and (max-width:900px) {

.grid-container-menu {
  display: flex;
  flex-direction: column;
}

.name {
  text-align: center;
  height: 54px;
}

.no-tel {
  display: none;
}

.order_seven {
  order: 5;
}
}
