  <div class="all-jewelries" data-navbar-target="pageup">
  <div class="block-one">
    <p class="style-sentence center-sentence <%= "font-for-greek style" if params[:locale] == "gr" %>">
      <%= t('.intertitle_one') %>
    </p>
    <div class="grid-container">
      <div class="item-one">Header</div>
      <div class="item-two">Menu</div>
      <div class="item-three">Main</div>
      <div class="item-four">Right</div>
    </div>
  </div>
  </div>
