* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ghosts {
  width: 0;
  height: 0;
}

.title {
  font-style: italic;
  padding: 3em;
  margin-bottom: 0;
}
.about_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
}

.about_article {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_text {
  width: 57vw;
  margin: 0 0 48px 0;
  font-size: larger;
}

.pics_shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame_one, .frame_two {
  width: 45vw;
  height: 29vw;
}

.frame_one {
 // background-image: url("SHOP_TONIC_PICTURE.png");
  background-size: cover;
}

.frame_two {
//  background-image:url("SHOP_TONIC_PICTURE_2.png");
  background-size: cover;
}

.style-sentence {
  width: 85vw;
  margin: 34px 0;
  font-family: 'Dancing Script', 'cursive';
  font-size: 20px;
}

@media only screen and (min-width:279px) and (max-width:900px) {
  .height {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .shop_pic {
    width: 90vw;
    height: auto;
  }

  .title {
    padding: 2rem;
  }

  .frame_one, .frame_two {
    width: 85vw;
    height: 56vw;
  }

  .about_text {
    width: 77vw;
  }
}
