h5 {
  margin-bottom: 25px;
}

.all-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 141px;
}

.inside-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90vw;
}

.left-aligned {
  text-align: left;
  margin-bottom: 20px;
}

.inline {
  display: flex;
  width: 77vw;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

.get-widther {
  width: 22vw;
}

.text {
  text-align: start;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 29px;
  gap: 19px;
}

.border-tonic-color {
  border-bottom: 9px solid rgb(227, 219, 210);
  width: 90vw;
  text-align: center;
}

.upper-tonic-color {
  border-top: 9px solid rgb(227, 219, 210);
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.underline-title {
  font-size: 1.75rem;
  margin-bottom: unset;
  padding: 3px;
}

.box-one {
  width: 268px;
}

.sub-title {
  padding-top: 1px;
}

.add-space {
  margin-bottom: 39px;
}

.space-between-text {
  margin-bottom: 0px;
}

.margin-frame {
  margin-bottom: 13rem;
}

.marge {
  margin: 25px 0 25px 0;
}
@media only screen and (min-width:279px) and (max-width:1000px) {

  .grid-container {
    grid-template-columns: auto;
    padding: 0 26px 26px;
  }

  .grid-item {
    padding: 0;
  }

  .get-widther, .get-widther-tel {
    width: 81vw;
  }

  .padding-out-tel {
    padding: 0;
  }

  .marge-down {
    margin-bottom: 24px;
  }

  .marge {
    margin-top: 49px;
  }

  .pad_all {
    padding: 26px;
  }
}
