.parallax {
  width: 100%;
  position: relative;
  height: 100vh;
}

.index {
  z-index: 1;
}

.vertical {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.facebook_contact .insta_contact {
  width: 92px;
}

.middle {
  text-align: center;
}

.follow {
  font-family: 'Dancing Script', 'cursive';
  font-size: xx-large;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  padding: 14px;
}

.line-box {
  width: 100%;
}

.line-three {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 27.2vh;
  transform: rotate(-45deg);
  transform-origin: left;
  animation: lineH3 2s 1s linear forwards;
}

@keyframes lineH3 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

.line-four {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 29.4vh;
  transform: rotate(-45deg);
  transform-origin: left;
  animation: lineH4 2s 1s linear forwards;
}

@keyframes lineH4 {
  0% {
    width: 0%;
  }

  100% {
    width: 57.5%;
  }
}

.line-five {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 31.6vh;
  transform: rotate(-45deg);
  transform-origin: left;
  animation: lineH5 2s 1s linear forwards;
}

@keyframes lineH5 {
  0% {
    width: 0%;
  }

  100% {
    width: 64.9%;
  }
}

.line-six {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 33.9vh;
  transform: rotate(-45deg);
  transform-origin: left;
  animation: lineH6 2s 1s linear forwards;
}

@keyframes lineH6 {
  0% {
    width: 0%;
  }

  100% {
    width: 72%;
  }
}

.line-seven {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 36.1vh;
  transform: rotate(-45deg);
  transform-origin: left;
  animation: lineH7 2s 1s linear forwards;
}

@keyframes lineH7 {
  0% {
    width: 0%;
  }

  100% {
    width: 78.9%;
  }
}

.line-height {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 38.3vh;
  transform: rotate(-45deg);
  transform-origin: left;
  animation: lineH8 2s 1s linear forwards;
}

@keyframes lineH8 {
  0% {
    width: 0%;
  }

  100% {
    width: 86.3%;
  }
}

.line-nine {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 84.5vh;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right;
  animation: lineH3 2s 1s linear forwards;
}

.line-ten {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 82vh;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right;
  animation: lineH4 2s 1s linear forwards;
}

.line-eleven {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 79.5vh;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right;
  animation: lineH5 2s 1s linear forwards;
}

.line-twelve {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 77.2vh;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right;
  animation: lineH6 2s 1s linear forwards;
}

.line-thirteen {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 75vh;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right;
  animation: lineH7 2s 1s linear forwards;
}

.line-fourteen {
  position: absolute;
  height: 1.2px;
  background: linear-gradient(90deg, rgba(33, 106, 255, 1) 0%, rgba(193, 37, 255, 1) 100%);
  top: 72.6vh;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right;
  animation: lineH8 2s 1s linear forwards;
}

.pad-form {
  width: 83vw;
  padding: 17vw 0 15vw 0;
  display: flex;
  flex-direction: column;
}

.about-page-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ded0c7;
}

.glow-effect {
  width: 43%;
  height: auto;
}

.cats {
  margin-top: 13px;
}

.categories {
  display: flex;
  flex-direction: column;
}

.label-checkbox {
  padding: 8px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.envoyer {
  padding: 4px 23px;
  appearance: none;
  border: 0.1px solid #626161;
  background-color: #f4f4f4;
  color: black;
}
