    <div class="footer">
      <div class="icon">
        <a href="#" target="_blank">
          <%= image_tag "icons8-facebook-64.png", class: "facebook" %>
        </a>
        <a href="#" target="_blank">
          <%= image_tag "icons8-instagram-64.png", class: "insta" %>
        </a>
      </div>
      <div class="contact-footer">
        <div class="p-footer">
          <p>  <%= t(".address") %> </p>
          <a href="tel:+30 693 471 3555"> 693 471 3555 </a>
          <a href="mailto:contact@tonic-society.com"> contact@tonic-society.com </a>
        </div>
      </div>
    </div>
  <section>
</div>
