  <section class="height">
    <div class="home-page-tel"> </div>
  </section>
  <section class="height">
    <div class="about_page" data-navbar-target="pageup">
      <h1 class="title">  <%= t('.about') %> </h1>
      <div class="about_article">
        <div class="pics_shop">
          <div class="frame_one">
          </div>
          <div class="frame_two">
          </div>
        </div>
        <p class="about_text">
          <%= t('.text') %>
        </p>
      </div>
    </div>
