<div class="about_page">
<h1 class="title"> ABOUT </h1>
  <div class="about_article">
  <div class="pics_shop">
  <%= image_tag "SHOP_TONIC_PICTURE.jpg", class: "shop_pic" %>
  <%= image_tag "SHOP_TONIC_PICTURE.jpg", class: "shop_pic" %>
  </div>
  <p class="about_text"> Beauty stimulates an aesthetic feeling within us, pleasing to the eye, creating a sense of admiration. At Tonic, we are specialized in enhancing hands and feet elegance given that they are a triumph of complex engineering among all parts of the human body. Both hands and feet set us apart from every other creature on the planet. We are therefore focused on looking after your nails to bring out the best equilibrium, symmetry and color fitting your mood and personality.
  The beauty of your gestures is our main concern. This is why we have selected the finest jewelry to enhance your grace, lift your mood and make you feel attractive, confident and beautiful as you are. We are not pampering your nails and vending jewelry, our priority is to make your movements the most attractive. Our priority is you.
  </p>
  </div>
</div>
