<div class="about_page" data-controller="test">
  <h1 class="title">  <%= t('.about') %> </h1>
  <div class="about_article">
  <div class="pics_shop">
  <%= image_tag "SHOP_TONIC_PICTURE.jpg", class: "shop_pic" %>
  <%= image_tag "SHOP_TONIC_PICTURE_2.jpg", class: "shop_pic" %>
  </div>
  <p class="about_text">
    <%= t('.text') %>
  </p>
  </div>
</div>
