.footer {
  background-color: #b4abb0;
}

.no-display {
  display: unset;
}

a {
  text-decoration: none;
  color: black;
}

.p-footer {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.icon {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.contact-footer {
  display: flex;
  align-items: center;
}

.facebook, .insta {
  width: 46px;
}

.last-section {
  background-image: url("tonic-map.jpg");
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 0 !important;
}

.index {
  z-index: 0;
}

.box {
  display: block;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 80vw;
  height: 60vh;
  z-index: 1001;
  background: rgba(222, 222, 222, .6);
  padding: 41px 23px;
  border-radius: 12px;
  box-shadow: .5px 4px 20px rgba(0, 0, 0, .5);
  margin-top: 11vh;
  text-align: center;
}

.marge-up {
  margin-top: 22px;
}

.sized {
  padding: 0;
  font-size: x-large;
}

.title-contact {
  font-family: 'Dancing Script', 'cursive';
  font-size: 27px;
  background: linear-gradient(90deg, #216aff 0%, #c125ff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.font {
  font-family: 'Dancing Script', 'cursive';
  font-size: 21px;
}

@media only screen and (min-width:279px) and (max-width:1000px) {
  .footer {
    background-color: rgb(222, 208, 199);
    padding: 24px 0;
  }

  .icon {
    margin-right: 21px;
  }
}
