.footer {
  background-color: #b4abb0;
}

a {
  text-decoration: none;
  color: black;
}

.p-footer {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.icon {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.contact-footer {
  display: flex;
  align-items: center;
}

.facebook, .insta {
  width: 46px;
}

@media only screen and (min-width:279px) and (max-width:1000px) {
  .footer {
    background-color: rgb(222, 208, 199);
    padding: 24px 0;
  }

  .icon {
    margin-right: 21px;
  }
}
