.navbar-lewagon {
  justify-content: space-between;
}

.background {
  background: white;
}

.navbar-lewagon-flex {
  display: flex;
  justify-content: flex-start;
  width:341.56px;
}

.navbar-lewagon-flex-two {
  display: flex;
  justify-content: flex-end;
  width: 341.56px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.english, .greek {
  position: relative;
  top: -2px;
  right: 12px;
  padding: 0 12px
}

.logo {
  width: 214px;
  margin-top: 20px;
}

.padding {
  padding: 0 10px;
  font-size: 16px;
}

.margin {
  margin-left: 12px;
}

.home-page {
  background-image: url("home_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
